* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: white;
  font-family: Arial, sans-serif;
  color: #444;
}

header {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
}

header img {
  display: block;
  width: 100%;
  height: auto;
}

.top-nav {
  width: 100%;
  max-width: 780px;
  height: 50px;
  margin: 18px auto 0;

  display: flex;
  align-items: center;

  border-bottom: 1px solid #ddd;
}

.top-nav a {
  flex: 1;
  height: 38px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: #999;

  font-size: 13px;
  letter-spacing: 2px;

  transition: 0.2s;
}

.top-nav a.active {
  background: linear-gradient(
    to right,
    #f5c2d9,
    #f8dce8,
    white
  );

  color: #9b7890;
}

.top-nav a:hover {
  background: #f8dce8;
  color: #d86b9a;
}

.top-nav span {
  color: #555;
  font-size: 20px;
  line-height: 1;
}

main {
  width: 100%;
  max-width: 780px;
  margin: 50px auto;
  padding: 0 25px;
}

h1 {
  color: #e58bb0;
  font-weight: normal;
}
